body {
    margin: 10;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  #login-text{
    text-align: center;
    margin: 5px;
  }
  #login-button{
    margin-top: 10px;
  }
  #login-register{
    display:flex;
  }
  #register-user-button{
    display: flex;
    align-items: center;
    padding-top: 10px;
    margin:10px;
  }
  #cancel-regist-button{
    margin-top:10px;
    margin-left: 10px;
  }
  #logout-button{
    margin-left: 5px;
    height:0%;
  }
  #logged-in-user{
    color: white;
    margin-top: 15px;
  }
  #create-blog-button{
    margin-bottom: 10px;
  }
  #submit-blog-button{
    margin-top: 10px;
  }
  #cancel-button{
    margin-top: 0;
    margin-bottom: 10px;
  }
  #like-button{
    height: 0%;
  }
  #comment{
    margin-top: 10px;
  }
  #comment-button{
    margin-top: 10px;
  }
  .test{
    width: 100%;
  }
  #blog-app{
    text-align: center;
  }